.main {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.search {
  margin: 10px 0 30px;
}

.backButton {
  align-self: flex-start;
  margin-bottom: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}
