.main {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.itemBox {
  flex: 1 0 25%;
  padding: 15px;
  height: 30%;
  border: 1px solid grey;
  margin: 20px;
}

.item {
  display: flex;
  width: 100%;
}

.countryName {
  display: block;
  align-self: center;
  margin-left: 10px;
}

.flag {
  padding-left: 10px !important;
}

.search {
  margin: 10px 0 30px;
}
